<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="client/common/template">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng ký tài khoản</title>
</head>
<body style="" data-new-gr-c-s-check-loaded="14.1003.0"
	data-gr-ext-installed="">
	<div layout:fragment="content" th:remove="tag">
		<div class="container-mp nav-wrapper responsive-menu">
			<!-- Begin: wrapper -->
			<div class="wrapper mp-pusher" id="mp-pusher">
				<div class="scroller">
					<div class="scroller-inner">
						<!-- menu mobile -->
						<div class="main-content-wrapper">
							<div class="container">
								<div class="row">
									<div id="layout-page"
										class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
										<span class="header-contact header-page clearfix">
											<h1>Sửa Thông tin</h1>
										</span>
										<div>
											<form th:action="@{/member/user/edit}" method="post"
												th:object="${userDTO}">
												 <div class="col-12">
													<input name="id" hidden="hidden" th:value="*{id}" />
												</div>

												<div class="col-12"
													style="min-height: 10px; display: flex; justify-content: center;">
													
													<div class="col-md-3 col-sm-3" style="display: flex; align-items: center;">
													<span style="margin-right: 20px; font-weight: 600"> Tuổi</span>
														<input class="form-control" name="age" th:value="*{age}" />
													</div>
												</div>
												</br>
												
												<div class="col-12"
													style="min-height: 10px; display: flex; justify-content: center;">
													
													<div class="col-md-3 col-sm-3" style="display: flex; align-items: center;">
													<span style="margin-right: 20px; font-weight: 600"> Email</span>
														<input class="form-control" name="email" th:value="*{email}" />
													</div>
												</div>
												</br>
												
												<div class="col-12"
													style="min-height: 10px; display: flex; justify-content: center;">
													
													<div class="col-md-3 col-sm-3" style="display: flex; align-items: center;">
													<span style="margin-right: 20px; font-weight: 600"> phone</span>
														<input class="form-control" name="phone" th:value="*{phone}" />
													</div>
												</div>
												</br>
												
												<div class="col-12"
													style="min-height: 10px; display: flex; justify-content: center;">
													
													<div class="col-md-3 col-sm-3" style="display: flex; align-items: center;">
													<span style="margin-right: 20px; font-weight: 600"> address</span>
														<input class="form-control" name="address" th:value="*{address}" />
													</div>
												</div>
												</br>
												
												<div class="col-12"
													style="min-height: 10px; display: flex; justify-content: center;">
													
													<div class="col-md-3 col-sm-3" style="display: flex; align-items: center;">
													<span style="margin-right: 20px; font-weight: 600">Name</span>
														<input class="form-control" name="name" th:value="*{name}" />
													</div>
												</div>
												
												</br>
												
													<div class="col-12"
													style="min-height: 10px; display: flex; justify-content: center;">
													
													<div class="col-md-3 col-sm-3" style="display: flex; align-items: center;">
													<span style="margin-right: 20px; font-weight: 600"> Username</span>
														<input class="form-control" name="username" th:value="*{username}" />
													</div>
												</div>

												<div>
													<input hidden="hidden" th:value=*{password} name="password"
														id="password" class="text" size="30">
												</div>
												<div class="action_bottom"
													style="display: flex; justify-content: center;">
													<input style="max-width: 150px" class="btn" type="submit"
														value="Sửa thông tin">
												</div>
											</form>
										</div>
									</div>
									<!-- #register -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>