<div  th:fragment="footer" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
	<footer class="footer-postions">
		<!--footer-->

		<div class="site-footer">
			<div class="container">

				<div class="row">
					<div class="footer-service clearfix">


						<div class="list-service col-lg-3 col-md-3 col-sm-6 col-xs-12">
						</div>


						<div class="list-service col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="ourservice-block">
								<div class="media ">
									<div class="pull-left  ">
										<i class="fa fa-phone" style=""></i>
									</div>
									<h4 class="ourservice-heading ">Đặt hàng trực tuyến</h4>
									<div class="ourservice-content">SĐT : 02439728108 -
										02438213509</div>
								</div>
							</div>
						</div>



						<div class="list-service col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="ourservice-block">
								<div class="media ">
									<div class="pull-left  ">
										<i class="fa fa-clock-o"></i>
									</div>
									<h4 class="ourservice-heading ">Làm việc các ngày trong
										tuần</h4>
									<div class="ourservice-content">
										Thứ 2 - Chủ Nhật <br> 7h30 đến 22h30
									</div>
								</div>
							</div>
						</div>


						<div class="list-service col-lg-3 col-md-3 col-sm-6 col-xs-12">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="footer-links clearfix">

						<div class="footer-block col-lg-2 col-sm-2 col-md-2 col-xs-12">
							<h4 class="footer-static-title">SẢN PHẨM</h4>
							<div class="block_content toggle-footer" style="">
								<ul class="bullet">

									<li><a href="/" title="Trang chủ">Trang chủ</a></li>

									<li><a href="/collections/all" title="Sách Tân Việt">Sách
											Tân Việt</a></li>

									<li><a href="/pages/he-thong-nha-sach"
										title="Hệ thống nhà sách">Hệ thống nhà sách</a></li>

									<li><a href="/pages/gioi-thieu" title="Giới thiệu">Giới
											thiệu</a></li>

									<li><a href="/blogs/news" title="Sự kiện">Sự kiện</a></li>

									<li><a href="/pages/lien-he" title="Liên hệ">Liên hệ</a></li>

									<li><a href="/blogs/bai-viet-moi" title="Tuyển dụng">Tuyển
											dụng</a></li>

								</ul>
							</div>
						</div>


						<div class="footer-block col-lg-2 col-sm-2 col-md-2 col-xs-12">
							<h4 class="footer-static-title">HỖ TRỢ</h4>
							<div class="block_content toggle-footer" style="">
								<ul class="bullet">

									<li><a href="/pages/gioi-thieu-chung"
										title="Giới thiệu chung">Giới thiệu chung</a></li>

									<li><a href="/pages/hoat-dong-kinh-doanh"
										title="Hoạt động kinh doanh">Hoạt động kinh doanh</a></li>

								</ul>
							</div>
						</div>


						<div class="footer-block col-lg-2 col-sm-2 col-md-2 col-xs-12">
							<h4 class="footer-static-title">DỊCH VỤ</h4>
							<div class="block_content toggle-footer" style="">
								<ul class="bullet">

									<li><a href="/blogs/news" title="Sự Kiện">Sự Kiện</a></li>

									<li><a href="/blogs/bai-viet-moi" title="Bài Viết">Bài
											Viết</a></li>

								</ul>
							</div>
						</div>


						<div class="footer-block col-lg-3 col-sm-3 col-md-3 col-xs-126">
							<h4 class="footer-static-title">KẾT NỐI VỚI CHÚNG TÔI</h4>
							<div class="footer-static-content">
								<div class="fb-page fb_iframe_widget"
									data-href="https://www.facebook.com/tanvietbooks.com.vn/?ref=br_rs"
									data-height="300" data-small-header="false"
									data-adapt-container-width="true" data-hide-cover="false"
									data-show-facepile="true" data-show-posts="false"
									fb-xfbml-state="rendered"
									fb-iframe-plugin-query="adapt_container_width=true&amp;app_id=263266547210244&amp;container_width=277&amp;height=300&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Ftanvietbooks.com.vn%2F%3Fref%3Dbr_rs&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false">
									<span
										style="vertical-align: bottom; width: 277px; height: 130px;"><iframe
											name="f3f7404bd47133c" width="1000px" height="300px"
											data-testid="fb:page Facebook Social Plugin"
											title="fb:page Facebook Social Plugin" frameborder="0"
											allowtransparency="true" allowfullscreen="true"
											scrolling="no" allow="encrypted-media"
											src="https://www.facebook.com/v2.0/plugins/page.php?adapt_container_width=true&amp;app_id=263266547210244&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3434b08a7b8194%26domain%3Dtanvietbooks.com.vn%26origin%3Dhttps%253A%252F%252Ftanvietbooks.com.vn%252Ff15e32d4e9d2f9c%26relation%3Dparent.parent&amp;container_width=277&amp;height=300&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Ftanvietbooks.com.vn%2F%3Fref%3Dbr_rs&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;small_header=false"
											style="border: none; visibility: visible; width: 277px; height: 130px;"
											class=""></iframe></span>
								</div>
							</div>
							<script>
								(function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id))
										return;
									js = d.createElement(s);
									js.id = id;
									js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=263266547210244&version=v2.0";
									fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));
							</script>
						</div>


						<div
							class="footer-block col-contact col-lg-3 col-sm-3 col-md-3 col-xs-12">
							<div class="contact-footer">
								<p class="phone">02439728108 - 02438213509</p>
								<span class="time-normal" style="">Thứ 2 - Chủ Nhật <br>
									7h30 - 22h30
								</span>

								<p class="marker-first">
									<i class="fa fa-map-marker"></i> 449 Bạch Mai - Hai Bà Trưng -
									Hà Nội
								</p>


							</div>

							<div id="icon-footer">


								<a class="_blank"
									href="https://www.facebook.com/tanvietbooks.com.vn/?ref=br_rs"
									target="_blank"><i class="fa fa-facebook"></i></a> <a
									class="_blank" href="#" target="_blank"><i
									class="fa fa-twitter"></i></a> <a class="_blank" href="#"
									target="_blank"><i class="fa fa-rss"></i></a> <a class="_blank"
									href="#" target="_blank"><i class="fa fa-youtube"></i></a> <a
									class="_blank" href="#" target="_blank"><i
									class="fa fa-google-plus"></i></a>

							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="site-info">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="info-text">
							<div class="link-copy">

								<a href="/search">Tìm kiếm</a>


							</div>
							<div class="copyright">
								<p>
									Copyright © 2021 Nhà sách Tân Việt. <a target="_blank"
										href="https://www.haravan.com">Powered by Haravan</a>.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

						<div class="payment-footer">
							<ul>
								<li><a href="#" title="Payment Method"><img
										src="/static_client/theme.hstatic.net/1000219449/1000505399/14/payment-1.png"
										alt="Payment"></a></li>
								<li><a href="#" title="Payment Method"><img
										src="/static_client/theme.hstatic.net/1000219449/1000505399/14/payment-2.png"
										alt="Payment"></a></li>
								<li><a href="#" title="Payment Method"><img
										src="/static_client/theme.hstatic.net/1000219449/1000505399/14/payment-3.png"
										alt="Payment"></a></li>
								<li><a href="#" title="Payment Method"><img
										src="/static_client/theme.hstatic.net/1000219449/1000505399/14/payment-4.png"
										alt="Payment"></a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>

	</footer>
</div>