<div  th:fragment="sidebar-right-product-detail" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-3 right-col-3 hidden-sm hidden-xs">

        <div class="pos-best-sellers products_block bestsellers ">
            <div class="block-title">
                <h4 class="title_possellers">
                    sản phẩm mới
                </h4>
            </div>
            <div class="block_content_bestsellers">
                <div class="Topsellers block_content products-block owl-carousel owl-theme owl-loaded"
                    style="display: block; opacity: 1;">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="width: 536px; transform: translate3d(0px, 0px, 0px); transition: all 0.25s ease 0s;">
                            <div class="owl-item active" style="width: 268px; margin-right: 0px;">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage"
                                        style="width: 3216px; transform: translate3d(-536px, 0px, 0px); transition: all 0.25s ease 0s;">
                                        <div class="owl-item active" style="width: 268px; margin-right: 0px;">
                                            <div class="item_out">
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="/products/nguoi-lanh-dao-khong-quyet-dinh-voi-ang"
                                                            title="" class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/bia_1_nguoi_lanh_dao_khong_quyet_dinh_voi_vang-01_5a684bd3bccf42bf820db5d9cbbbfbf4_medium.jpg"
                                                                alt=" Người lãnh đạo không quyết định vội vàng ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="/products/nguoi-lanh-dao-khong-quyet-dinh-voi-ang"
                                                                title="Người lãnh đạo không quyết định vội vàng">
                                                                Người lãnh đạo không
                                                                quyết định vội vàng
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">59,500₫</p>
                                                            <p class="old-price">85,000₫
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="/products/nhung-chiec-sieu-xe" title=""
                                                            class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/01_-_nhung_chiec_sieu_xe-01-01_597dd28da43a4f03919779f1bb7bf42e_medium.jpg"
                                                                alt=" Những chiếc siêu xe ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="/products/nhung-chiec-sieu-xe"
                                                                title="Những chiếc siêu xe">
                                                                Những chiếc siêu xe
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">28,000₫</p>
                                                            <p class="old-price">40,000₫
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="/products/nhung-dieu-ban-trai-can-biet-truoc-tuoi-13"
                                                            title="" class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/nhung_dieu_ban_trai_can_biet_truoc_tuoi_13-01_56abd9483c574fdfadcdc79f17be9e01_medium.jpg"
                                                                alt=" Những điều bạn trai cần biết trước tuổi 13 ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="/products/nhung-dieu-ban-trai-can-biet-truoc-tuoi-13"
                                                                title="Những điều bạn trai cần biết trước tuổi 13">
                                                                Những điều bạn trai cần
                                                                biết trước tuổi 13
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">84,000₫</p>
                                                            <p class="old-price">
                                                                120,000₫</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 268px; margin-right: 0px;">
                                            <div class="item_out">
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="/products/bi-mat-tuoi-day-thi" title=""
                                                            class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/bia_bi_mat_tuoi_day_thi-01_6b6111fd4e974046832831583fbe4137_medium.jpg"
                                                                alt=" Bí mật tuổi dậy thì ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="/products/bi-mat-tuoi-day-thi"
                                                                title="Bí mật tuổi dậy thì">
                                                                Bí mật tuổi dậy thì
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">36,500₫</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="/products/alice-lac-vao-xu-so-than-tien" title=""
                                                            class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/alice_lac_vao_xu_so_than_tien-01_80e3bca769fe4a69971cc57b69d7dc92_medium.jpg"
                                                                alt=" Alice Lạc Vào Xứ Sở Thần Tiên ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="/products/alice-lac-vao-xu-so-than-tien"
                                                                title="Alice Lạc Vào Xứ Sở Thần Tiên">
                                                                Alice Lạc Vào Xứ Sở Thần
                                                                Tiên
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">24,500₫</p>
                                                            <p class="old-price">35,000₫
                                                            </p>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="/products/nguoi-dep-ngu-trong-rung" title=""
                                                            class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/nguoi_dep_ngu_trong_rung-01_9dc46a005b64484693ef7174b5df7c66_medium.jpg"
                                                                alt=" Người Đẹp Ngủ Trong Rừng ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="/products/nguoi-dep-ngu-trong-rung"
                                                                title="Người Đẹp Ngủ Trong Rừng">
                                                                Người Đẹp Ngủ Trong Rừng
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">24,500₫</p>
                                                            <p class="old-price">35,000₫
                                                            </p>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="owl-item" style="width: 268px; margin-right: 0px;">
                                            <div class="item_out">
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="#" title=""
                                                            class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/nang_bach_tuyet_va_bay_chu_lun-01_2301e18835864132b5c2cbb7eefd3e51_medium.jpg"
                                                                alt=" Nàng Bạch Tuyết Và Bảy Chú Lùn ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="#"
                                                                title="Nàng Bạch Tuyết Và Bảy Chú Lùn">
                                                                Nàng Bạch Tuyết Và Bảy
                                                                Chú Lùn
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">24,500₫</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="#" title=""
                                                            class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/aladin_va_cay_den_than-01_fac4824526f1445eb98673b58ab81edf_medium.jpg"
                                                                alt=" Aladdin Và Cây Đèn Thần ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="#"
                                                                title="Aladdin Và Cây Đèn Thần">
                                                                Aladdin Và Cây Đèn Thần
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">24,500₫</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="seller-item item">
                                                    <div class="sellers-img">
                                                        <a href="#" title=""
                                                            class="products-block-image content_img clearfix">
                                                            <img class="replace-2x img-responsive"
                                                                src="//product.hstatic.net/1000219449/product/bia_-_truyen_ngu_ngon_aesop_tap_4_song_ngu_03336610c99146eb93ecbc72284fd6e6_medium.jpg"
                                                                alt=" Truyện ngụ ngôn Aesop ">
                                                        </a>
                                                    </div>
                                                    <div class="product-content">
                                                        <h5 class="bs-title">
                                                            <a href="#"
                                                                title="Truyện ngụ ngôn Aesop">
                                                                Truyện ngụ ngôn Aesop
                                                            </a>
                                                        </h5>
                                                        <div class="price-box-side">
                                                            <p class="price">24,500₫</p>
                                                            <p class="old-price">35,000₫
                                                            </p>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner quảng cáo -->
        <div class="list-banner-1 banner-left">
            <a href="#">
                <img src="/static_client/image/giao_duc_gioi_tinh_photo_post-01_master.png">
            </a>
        </div>
        <!-- Banner quảng cáo -->
        <div class="list-banner-1 banner-left">
            <a href="#">
                <img src="/static_client/image/khung-long.jpg">
            </a>
        </div>

    </div>
</div>